div.variants {
	margin: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50vw;
}
@media (max-width: 1600px) {
	div.variants {
		width: 70vw;
	}
}
@media (max-width: 800px) {
	div.variants {
		width: 90vw;
	}
}
